@font-face {
  font-family: 'roboto';
  src: url('../styles/Roboto-Regular.ttf');
} 

* {
  margin:  0px;
  padding: 0px;
}

body {
  font-family: 'roboto';
  background-color: #305656;
  color: #adc9f0;
}

#ui {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #363f4c;
  border-style: solid;
  border-width: 1px;
  border-color: #adc9f0;
  min-width: 250px;
}

.logo {
  margin: 5px 5px 15px 5px;  
}

.project {
  font-size: 15px;
  margin: 5px 0px 5px 0px;  
}

.projName {
  margin-left: 10px;
  cursor: pointer;
}

.projName:hover {
  color: #ffff00; 
}

hr {
  border: none;
  color: #81858b;
  background-color: #81858b;
  height: 1px;
}

.cornerIcon {
  font-size: 10px;
  display: inline-block;

  float: right;
}

@keyframes animatonOpen {
  from { max-height: 0px; }
  50% { max-height: 0px;}
  75% { max-height: 50px;}
  to { max-height: 1000px;}
  }

.animOpen {
  max-height: 1000px;
  overflow: hidden;
  animation: animatonOpen 0.4s ease-in 1;
}

@keyframes animatonClose {
  from { max-height: 1000px; }
  25% { max-height: 50px; }
  75% { max-height: 0px; }  
  to { max-height: 0px;}
  }

.animClose {
  max-height: 0px;
  overflow: hidden;
  animation: animatonClose 0.4s ease-out 1;
}


.scene {
  font-size: 12px;
  margin: 5px 0px 10px 20px;
  transition: 1.0s;
}

.scene p{
  cursor: pointer;  
}

.scene p:hover {
  color: #ffff00;  
}

.previewScene {
  height: 80px;
  width: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #adc9f0;
  cursor: pointer;  
}

.previewScene:hover {
  border-color: #ffff00;
}

.model {
  margin: 3px 0px 0px 25px
}

.hideModelButton, .showModelButton, .transpModelButton, .redModelButton, .normalModelButton {
  display: inline-block;
  color: #ffff00; 
  margin: 0px 0px 0px 10px;
  cursor: pointer;
}

.hideModelButton:hover, .showModelButton:hover, .transpModelButton:hover, .redModelButton:hover, .normalModelButton:hover {
  color: #ffffff; 
}
