@font-face {
  font-family: 'roboto';
  src: url('../styles/Roboto-Regular.ttf');
} 

* {
  margin:  0px;
  padding: 0px;
}

body {
  font-family: 'roboto';
  background: #8a808e; 
  background: -webkit-linear-gradient(top,#8a808e,#b0ba89); 
  background: -o-linear-gradient(top,#8a808e,#b0ba89); 
  background: -moz-linear-gradient(top,#8a808e,#b0ba89); 
  background: linear-gradient(to bottom, #8a808e, #b0ba89);
  color: #20090c;
  overflow: hidden;
}

#ui {
  margin: 15px;
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 15px;
} 


/*******************************************************************/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: 1500;  
}

.logo, .rollHeader {
  color: #20090c;  
  margin-bottom: -10px;  
}

.animateLogo {
  animation: animatonLogo 0.4s ease infinite;
}

.logo {  
  flex: 1 1 auto;
  text-align: center; 
}

.rollHeader {
  text-align: right; 
  flex: 1 1 auto; 
  padding-top: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.6s;
}

.rollHeader:hover {
  padding-top: 0px;
  padding-bottom: 10px;
  color: #ebebeb;
} 

/*******************************************************************/

.content {
  margin-right: 5px;
  transition: 0.5s;
  overflow: hidden;
}

.animOpenTree, .animCloseTree {
  overflow: auto;
}

.animOpenTree {
  animation: animatonClose 0.4s ease-in 1;

}

.animCloseTree {
  animation: animatonOpen 0.4s ease-in 1;
}

/*******************************************************************/

.project {
  font-size: 15px;
  margin-right: 17px;
}

.projName {
  transition: 0.3s;
  color: #f3f3f3;
  padding: 7px 0px 7px 10px;
  cursor: pointer;
  background:rgba(82, 79, 79, 0.87);
}

.projName:hover {
  color: #20090c;
}

.hrTree {
  border: none;
  color: #0f1113;
  background-color: #0f1113;
  height: 3px;
}

.hrProj {
  border: none;
  color: #b6b6b6;
  background-color: #b6b6b6;
  height: 1px;
}


/*******************************************************************/

.scene {
  font-size: 12px;
  margin: 5px 0px 10px 3px;
  transition: 1.0s;
}

.sceneHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.previewScene {
  transition: 0.3s;
  height: 60px;
  width: 60px;
  margin-right: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #6d6f74;
  border-radius: 3px;
  cursor: pointer;
  flex: 0 0 60px;
}

.previewSceneCurrent {
  transition: 0.3s;
  height: 60px;
  width: 60px;
  margin-right: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  flex: 0 0 60px;
}

.previewScene:hover {
  border-color: #f2fac3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.sceneName, .currentSceneName {
  margin-top: 10px;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}

.sceneName {
  cursor: pointer;
}

.sceneName:hover {
  color: #f2fac3;
}

.currentSceneName {
  color: #ffffff;
}


/*******************************************************************/

.model {
  font-size: 15px;
  margin: 3px 0px 0px 0px;
  padding: 2px 10px 2px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #8b8b8b8e;
}

.modelName {
  margin-top: 5px;
  flex: 1 0 auto;
}

.modelButtons {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.btnHide {
  background-color: #8f8f8f;   
}

.btnTransp {
  background-color: #444444;   
}

.btnRed {
  background-color: #dd4242;
}

.btnOn, .btnOff {
  padding: 3px;
  flex: 0 1 auto;
  text-align: right;
  margin: 4px 4px;
  cursor: pointer;
}

.btnOff {
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  border-radius: 5px;
}

.btnOn {
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 5px;
}

.btnOff:hover, .btnOn:hover  {
}


/*******************************************************************/

@keyframes animatonOpen {
  from { max-height: 0px; }
  50% { max-height: 0px;}
  75% { max-height: 50px;}
  to { max-height: 1000px;}
  }

.animOpen {
  max-height: 1000px;
  overflow: hidden;
  animation: animatonOpen 0.4s ease-in 1; 
}

@keyframes animatonClose {
  from { max-height: 1000px; }
  25% { max-height: 50px; }
  75% { max-height: 0px; }  
  to { max-height: 0px;}
  }

.animClose {
  max-height: 0px;
  overflow: hidden;
  animation: animatonClose 0.4s ease-out 1; 
}

@keyframes animatonLogo {
  from { 
    padding-left: 0px;
    padding-right: 0px; 
  }
  50% { 
    padding-left: 30px; 
    padding-right: -30px;
  }
  to { 
    padding-left: 0px; 
    padding-right: 0px; 
  }
}

