@font-face {
  font-family: 'roboto';
  src: url('../styles/Roboto-Regular.ttf');
} 

* {
  margin:  0px;
  padding: 0px;
}

body {
  font-family: 'roboto';
  background: #8a808e; /* Old Browsers */
  background: -webkit-linear-gradient(top,#8a808e,#b0ba89); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,#8a808e,#b0ba89); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,#8a808e,#b0ba89); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #8a808e, #b0ba89); /*Standard*/
  color: #20090c;
}


#ui {
  position: absolute;
  left: 10px;
  top: 30px;
} 

#uiTree {
  background:rgba(233, 233, 233, 0.87);
  border-style: solid;
  border-width: 6px;
  border-color: #20090c;
  min-width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo {
  font-size: 40px;
  font-weight: 1500; 
  margin: -28px 5px -10px 5px; 
  text-align: center;   
}

.project {
  font-size: 15px;
}

.projName {
  transition: 0.3s;
  color: #f3f3f3;
  padding: 15px 0px 15px 10px;
  cursor: pointer;
  background:rgba(82, 79, 79, 0.87);
}

.projName:hover {
  color: #20090c;
}

hr {
  border: none;
  color: #0f1113;
  background-color: #0f1113;
  height: 4px;
}

@keyframes animatonOpen {
  from { max-height: 0px; }
  50% { max-height: 0px;}
  75% { max-height: 50px;}
  to { max-height: 1000px;}
  }

.animOpen {
  max-height: 1000px;
  overflow: hidden;
  animation: animatonOpen 0.4s ease-in 1;
}

@keyframes animatonClose {
  from { max-height: 1000px; }
  25% { max-height: 50px; }
  75% { max-height: 0px; }  
  to { max-height: 0px;}
  }

.animClose {
  max-height: 0px;
  overflow: hidden;
  animation: animatonClose 0.4s ease-out 1;
}


.scene {
  font-size: 12px;
  margin: 5px 0px 10px 20px;
  transition: 1.0s;
}

.sceneHeader {
  display: flex;
  flex-direction: row;
}

.previewScene {
  transition: 0.3s;
  height: 80px;
  width: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #6d6f74;
  border-radius: 3px;
  cursor: pointer;  
}

.previewScene:hover {
  border-color: #f2fac3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.sceneName, .currentSceneName {
  margin: 10px 15px 0px 5px;
  padding: 7px 3px 7px 15px;
  max-height: 20px;
  flex: 1 0 auto;
  font-size: 15px;
}

.currentSceneName {
  color: #ebebeb;
  /*border-radius: 3px;*/  
}

.model {
  margin: 3px 15px 0px 0px;
  padding: 2px 10px 2px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f3f3;
}

.modelName {
  flex: 1 0 auto;
}

.modelButtons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hideModelButton, .showModelButton, .transpModelButton, .redModelButton, .normalModelButton {
  text-align: center;
  margin: 0px 5px;
  color: #63676b; 
  cursor: pointer;
  min-width: 60px; 
}

.showModelButton {
  background-color: rgba(82, 79, 79, 0.87);
  color: #ffffff;
}

.hideModelButton:hover, .showModelButton:hover, .transpModelButton:hover, .redModelButton:hover, .normalModelButton:hover {
  color: #240606; 
}
